<ul class="sidebar-nav list-group">
  {% if  user.is_authenticated %}
    <li class="list-group-item">User: {{ user.username }}</li>
    <li class="list-group-item">
      <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button class="btn btn-outline-secondary" type="submit">logout</button>
      </form>
    </li>
  {% else %}
    <li class="list-group-item">
      <a href="#">Login</a>
    </li>
  {% endif %}
  <br>
  <li class="list-group-item">
    <a href="{% url 'todo:task-list' %}">Home</a>
  </li>
  <li class="list-group-item">
    <a href="{% url 'todo:tag-list' %}">Tags</a>
  </li>

</ul>